<web-app>
<servlet>
    <servlet-name>spring</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>

</servlet>
<servlet-mapping>
    <servlet-name>spring</servlet-name>
    <url-pattern>/</url-pattern>
</servlet-mapping>

<init-param>
    <param-name>contextConfigLocation</param-name>
    <!--  <param-value>/WEB-INF/loginDispacher-servlet.xml</param-value> -->
    <param-value>/WEB-INF/spring-servlet.xml</param-value>
</init-param>


</web-app>